@font-face {
  font-family: "Roboto";
  src: url("../fonts/web/roboto.woff2") format("woff2");
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/web/robotomedium.woff2") format("woff2");
  font-style:normal;
  font-weight:500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/web/robotobold.woff2") format("woff2");
  font-style:normal;
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}

body {

  min-width: 1200px;

  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #283136;
  background-color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}


.content-wrapper {
  display: flex;
  box-sizing: border-box;

  width: 1160px;

  margin-left: auto;
  margin-right: auto;
  
}

.main-header {
  padding-top: 49px;
}

.main-header, .feathures {
  background-color: #eeeeee;
}



/* top navigation styles start */
.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}


.main-nav-logo img:hover {
  cursor: pointer;
  opacity: .8;
}

.main-nav-logo img:active {
  cursor: pointer;
  opacity: .3;
}




.main-nav .content-wrapper {
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 800px;

  margin: 0;
  padding: 6px 62px 0 0;

}

.site-nav-item {
  padding: 0 23px 0 22px
}

.site-nav-item:first-child {
  padding-left: 0;
}

.site-nav-item-link,
.cart-nav {
  position: relative;
  color: #000000;
}


.link-current::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  
}

.site-nav-item-link:hover, 
.site-nav-item-link a:focus,
.cart-nav:hover,
.cart-nav:focus {
  cursor: pointer;
  color: #fb565a;
  transition: color .5s linear;
}


.cart-nav:active,
.site-nav a:active {

  color: #000000;
  opacity: .3;
}

.cart-nav-wrapper {
  padding-top: 6px;
}

.cart-nav {
  position: relative;
}

.cart-nav::before {
  content: "";

  position: absolute;
  top: 10%;
  right: 100%;

  margin-right: 25px;

  min-width: 15px;
  min-height: 15px;

  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  opacity: 0.3;
}
/* top navigation styles end */


/* slider styles start */
.feathures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 410px;
  }

.feathures .content-wrapper {
  position: relative;
  display: block;
}


.slider {
  position: relative;
  width: 100%;

  margin: 0;
  padding: 0;

  border: 1px solid transparent;
}

.slide {
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0;

}

.slide-current {
 opacity: 1;
 z-index: 2;
 transition: opacity 1.5s ease-in;
}


.slider .slide-container {
  min-height: 430px;

  background-position: top 0% left 100%;
  background-repeat: no-repeat;
  background-size: auto 410px;
}

 .slide:nth-child(1) .slide-container {
  background-image: url("../img/slider-image.png");
}

 .slide:nth-child(2) .slide-container {
  background-image: url("../img/slider-image-2.png");
}

 .slide:nth-child(3) .slide-container {
  background-image: url("../img/slider-image-3.png");
}


.slide .slide-title {
  width: 45%;

  margin: 0;
  padding-top: 70px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  color: #000000;
}

.slide .slide-content {
  width: 36%;
  box-sizing: border-box;

  margin: 35px 0 35px 0;
  padding-right: 46px;
}


.slider-switches {
  display: flex;
  position: absolute;
  margin: 0;
  top: 315px;
  left: 45%;
  flex-wrap: wrap;
  z-index: 3; 
}

.slider-switches-button {
  display: block;
  position: relative;
  width: 18px;
  min-height: 18px;

  margin-left: 20px;
  padding: 0;

  font-size: 0;

  border: none;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #c1c1c1;
  cursor: pointer;
}

.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}



/* slider styles end */

/* services styles start */

.services {
  padding-top: 80px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.services-list-item {
  width: 300px;
  min-height: 347px;

  background-repeat: no-repeat;
  background-size: 300px 146px;
  background-position-x: 0;
  background-position-y: 0;
}

.services .content-wrapper {
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}


.services-list-item-container {
  margin-top: 172px;
  padding-right: 40px;
}

.services-list .services-list-item:not(:first-child) {
  margin-left: 100px;
}


.services-list-item:nth-child(1)  {
  background-image: url('../img/illustration-1.jpg');
  }

.services-list-item:nth-child(2)  {
  background-image: url('../img/illustration-2.jpg');
}

.services-list-item:nth-child(3)  {
  background-image: url('../img/illustration-3.jpg');
}

.services-list-item .services-list-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list-item-content,
.services-list-item-title {
  margin: 0;
}

.services-list-item-content {
  margin-top: 14px;
}

.services-list-item .button {
  margin-top: 33px;
}

/* services block styles end */






/* about block styles start  */
.about .content-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;


  min-height: 370px;

  padding-top: 40px;
  padding-bottom: 75px;

  border-bottom: 2px solid #eeeeee;
}

.about-us {
  width: 660px;
  min-width: 660px;
}

.about-us p {
  margin: 0;
  padding-right: 32px;
}

.about-us p:first-child {
  margin-top: 40px;

  font-weight: 500;
}

.about-us p:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 40px;
}

.about-us p:nth-child(3) {
  font-weight: 500;
}

.manifest-table-container {
  width: 360px;
  min-width: 360px;
}

.manifest-table {
  border-spacing: 0;
}


.manifest-table-title {
  margin-top: 34px;
  margin-bottom: 40px;

  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.manifest-table-header .manifest-table-row {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
 }

 .manifest-table-header .manifest-table-cell {
  width: 33.3333%;
  height: 45px;

  line-height: 10.06px;
  text-align: left;
 }

 .manifest-table-main .manifest-table-cell {
  width: 33.3333%;

  padding-top: 24px;

  line-height: 18px;
 }

.manifest-table-row sup {
  font-size: 25px;
}


.about-us .about-us-content:nth-child(1) {
  font-size: 45px;
  line-height: 45px;
  padding: 0;
}

.about-us .about-us-content:nth-child(3){
  text-transform: uppercase;
}


.orders-list {
  margin: 0;
}

.orders-list-item {
  position: relative;

  margin-top: 24px;
  padding-left: 36px;
}

.orders-list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;
  background-color: #fb565a;

  transform: translateY(-50%);

}
/* about block styles end  */






/* clients block styles start */

.clients {
  margin-bottom: 77px;
}

.clients-list {
  justify-content: space-between;
  align-items: center;
  
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 49px;
  padding-bottom: 44px;

  border-bottom: 2px solid #eeeeee;

}

.clients-list-item {
  position: relative;
  width: 260px;
}


.clients-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: -20px;
  bottom: 50%;
  transform: translateY(50%);
  background-color: #eeeeee;

}

.clients-list-item-link {
  display: flex;
  justify-content: center;
  opacity: 0.2;
  transition: all 1.5s ease; 
}


.clients-list-item-link:hover,
.clients-list-item-link:focus {
  opacity: 1;
  transform: scale(1.1);
}

.clients-list-item-link:active {
  opacity: .1;
}

.clients-list-item-image {
  display: block;
  max-width: 260px;
}



/* clients block styles end */



/* contacts block styles start */

.map {
  position: relative;
  overflow: hidden;
  min-height: 416px;
  background-image: url('../img/map.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1350px 100%;
}

.map-interactive {
  position: absolute;
}

.map .content-wrapper {
  margin-top: 54px;
}

.contacts {
  position: relative;    
  box-sizing: border-box;
  width: 320px;
  min-height: 310px;
  z-index: 2;
  padding: 51px 50px 47px 50px; 

  font-style: normal;
  line-height: 18px;
  background-color: #ffffff;
}

.contacts-title,
.contacts-address,
.contacts-phone {
  margin: 0;
}

.contacts .contacts-title {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-address {
  margin-bottom: 15px;
}

.contacts-phone {
  margin-bottom: 15px;
}

/* contacts block styles end */




/* footer styles start */

footer {
  position: relative;
}

.socials {
  box-sizing: border-box;
  min-height: 216px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.socials-container {
  margin-left: 140px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.socials-list-item {
  margin-left: 12px;
}


.socials-list-item-link {
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  min-height: 80px;

  border-radius: 50%;

  background-color: #e1e1e1;
  transition: background 1.5s ease-in-out;
}

.socials-list-item-link:hover,
.socials-list-item-link:focus {
  background-color: #e74246;
}

.socials-list-item-link:active {
  background-color: #d7373b;
}


.socials-list-item-link:active > img {
  opacity: 0.3;
}




.socials-content {
  margin: 0;
}

.socials .socials-content:nth-child(1) {
  margin-top: 4px;
  margin-bottom: 11px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.socials .socials-content:nth-child(2) {
  line-height: 22px;
}


/* footer styles end */


/* modal styles start */
.modal {
  display: none;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 50%;

  width: 960px;
  min-height: 590px;

  padding: 73px 100px 84px 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0,1,1,.75);
  transform: translate(-50%, -50%);
}

.modal-visible {
  display: block;
  z-index: 2;
}

.modal-window {
  position: relative;
}

.modal-window > button.close {
  position: absolute;
  top: 3%;
  left: 98%;
  width: 25px;
  height: 25px;
  font-size: 0;
  border: none;
  background: 0 0;
  opacity: .3;
  transition: opacity .1s ease-in;
}

.modal-window > button.close:hover {
  opacity: 1;  
}

.modal-window > button.close:active {
  opacity: .2;
}

.modal-window > button::before  {
  position: absolute;
  content: "";
  top: 50%;
  left:50%;
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: #fb565a;
  transform: translate(-50%, -50%)  rotate(45deg) ;
}
.modal-window > button::after  {
  position: absolute;
  content: "";
  top: 50%;
  left:50%;
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: #fb565a;

  transform: translate(-50%, -50%) rotate(-45deg) ;
}

.modal .modal-header {
  margin: 0;
  margin-bottom: 40px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 18px;
}


.modal-header {
  font-size: 45px;
  line-height: 45px;
}


.modal-form p:nth-child(1),
.modal-form p:nth-child(2) {
  width: 360px;
}

.modal-form p:nth-child(3) {
  width: 100%;
}

.modal-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

.modal-form textarea {
  margin-bottom: 47px;
}


.modal-form input {
  font: inherit;
  line-height: 18px;
}

.modal-form input,
.modal-form textarea {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}


.modal-form input:invalid,
.modal-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}


.modal-form input::-moz-placeholder,
.modal-form textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.502);
  opacity: 1;
}

.modal-form input::-webkit-input-placeholder,
.modal-form textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.502);
}


.modal-form input:hover,
.modal-form textarea:hover {
  border-color: rgba(68, 68, 68, 0.502);
  color: rgba(68, 68, 68, 0.502);
}

.modal-form input:hover::-moz-placeholder,
.modal-form textarea:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.502);
  opacity: 1;
}

.modal-form input:hover::-webkit-input-placeholder,
.modal-form textarea:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.502);
}


.modal-form input:focus,
.modal-form textarea:focus {
  border-color: #000000;
  color: #000000;
  outline: none;
}


.modal-form input:focus::-moz-placeholder,
.modal-form textarea:focus::-moz-placeholder,
.modal-form input:focus::placeholder {
  color: #000000;
  opacity: 1;
}

.modal-form input:focus::-webkit-input-placeholder,
.modal-form textarea:focus::-webkit-input-placeholder {
  color:#000000;
}


/* modal styles end */








/* catalog-page styles */

 .catalog-page {
  min-width: 1200px;
  line-height: 24px;
} 

.catalog-page .page-title {
  margin: 0;

  
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.main-nav + .content-wrapper  {
  justify-content: center;
  
  padding-top: 67px;
  padding-bottom: 110px;

}

main > .content-wrapper {
  padding-top: 50px;
  justify-content: space-between;
}

.catalog-sorting-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog-sorting-wrapper p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.catalog-sorting {
  display: flex;
  margin: 0;
  padding-top: 2px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.catalog-sorting-item:not(:nth-child(3)):not(:last-child) {
  margin-right: 24px;
}

.catalog-sorting-item:nth-child(4) {
  padding-left: 48px;
}

.catalog-sorting .catalog-sorting-item-link {
  vertical-align: bottom;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: .3;
}

.catalog-sorting .catalog-sorting-item-link:hover,
.catalog-sorting .catalog-sorting-item-link:focus {
  opacity: .6;
}

.catalog-sorting .catalog-sorting-item-link:active {
  opacity: 1;
}

.catalog-sorting-direction-link.desc {
  display: inline-block;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border: 10px solid black;
  border-bottom: none;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  opacity: .3;
}

.catalog-sorting-direction-link.asc {
  display: inline-block;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border: 10px solid black;
  border-top: none;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  opacity: .3;
}

.catalog-sorting-direction-link.desc:hover, 
.catalog-sorting-direction-link.desc:focus, 
.catalog-sorting-direction-link.asc:hover,
.catalog-sorting-direction-link.asc:focus {
  opacity: .6;
}

.catalog-sorting-direction-link.desc:active, 
.catalog-sorting-direction-link.asc:active {
  opacity: 1;
}


.catalog-list .catalog-list-item {
  margin-bottom: 33px;
}

.catalog-list .catalog-list-item:nth-child(odd) {
  margin-right: 40px;
}


.filters {
  width: 260px;
}

.filters-form legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filters-form label {
  line-height: 20px;
}

.filters-form fieldset {
  border: none;
  margin: 0;
  margin-top: 45px;
  padding: 0;
}

.filters-form fieldset:nth-child(1) {
  margin-top: 0;
}

.filters-form-feathures p {
  margin: 0;
  margin-top: 15px;
}

.filters-form-range > label,
.filters-form-range > input[type="text"] {
  display: inline-block;
}

.filters-form-range label {
  margin-right: 11px;

  font-weight: 500;
  text-transform: uppercase;
}


.filters-form-range > input[type="text"] {
  box-sizing: border-box;
  width: 80px;
  min-height: 38px;

  text-align: center;
  background-color: #eeeeee;
  border: none;
}

.filters-form-range > input[name="from"]{
  margin-right: 22px;
}

/* RANGE SLIDER STYLES */


.filters-form .range-slider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 80px;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 39px 21px; 
  background-color: #eeeeee;
  border-radius: 3px;
}

.range-slider label {
  text-transform: uppercase;
}

.range-slider input[type="range"] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: absolute;
  border: none;
  width: 220px;
  height: 2px;
  pointer-events: none;
  background-color: #d7dcde;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: none;
  width: 12px;
  height: 12px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px #d6d6d6;
  background-color: #ababab;
  transform: scale(1.6);
}

.range-slider input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: none;
  width: 3px;
  height: 3px;
  border: 6px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px #d6d6d6;
  background-color: #ababab;
  transform: scale(1.3);
}

.range-slider input[type="range"]::-ms-thumb {
  -moz-appearance: none;
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: none;
  width: 3px;
  height: 3px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px #d6d6d6;
  background-color: #ababab;
  transform: scale(1.3);
}





/* RANGE SLIDER STYLES END */



.filters-form-grid label,
.filters-form-feathures label {
  display: block;
  position: relative;
  width: 100%;
  min-height: 25px;
  padding-left: 35px;
}

.filters-form-grid p {
  margin: 0;
  margin-top: 15px;
}


.filters-form-grid label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 3px solid #a6a6a6;
  border-radius: 50%;
  transition: border-color .6s ease-in;
}


.filters-form-grid label::after {
  content: "";
  position: absolute;
  display: none;
  top: 6px;
  left: 6px;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: #a6a6a6;
  transition: background-color .6s ease-in;
}

.filters-form-grid input[type="radio"]:checked ~ label::after {
  display: block;
}

.filters-form-grid input[type="radio"]:focus ~ label::before {
  outline: thin dotted;
  outline: 2px auto -webkit-focus-ring-color;
}

.filters-form-grid input[type="radio"]:hover ~ label::before {
  border-color: #4d4d4d;
}

.filters-form-grid input[type="radio"]:hover ~ label::after {
  background-color: #4d4d4d;
}

.filters-form-feathures label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #a6a6a6;
  border-radius: 3px;
  transition: border-color .6s ease-in;
}


.filters-form-feathures label::after {

  content: "";
  position: absolute;
  display: none;
  top: -15%;
  left: 3%;
  width: 5px;
  height: 15px;
  border: 4px solid #a6a6a6;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  transition: border-color .6s ease-in;
}

.filters-form-feathures input[type="checkbox"]:checked ~ label::after {
  display: block;
}

.filters-form-feathures input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 2px auto -webkit-focus-ring-color;
}


.filters-form-feathures input[type="checkbox"]:hover ~ label::after {
  border-color: #4d4d4d;
}

.filters-form-feathures input[type="checkbox"]:hover + label::before {
  cursor: pointer;
  border-color: #4d4d4d;
}


/* products stylings start  */


.layouts {
  width: 760px;

  margin-bottom: 62px;
}

.layouts > p {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card {
  position: relative;
  border-top: 40px solid #e9e9e9;
  border-radius: 3px;
  transition: all 1.5s ease-in-out;

}

.product-card:hover {
  border-color: #4d4d4d;
}

.product-card:hover > .product-card-description {
  opacity: 1;
}

.product-card::before {
  content: "";
  position: absolute;
  top: -5%;
  left: 4%;
  width: 15px;
  height: 15px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow:
    25px 0  0  white,
    50px 0  0  white;
}


.product-card .product-card-description {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0 60px 42px 60px;
  
  background-color: #eeeeee;
  text-align: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.product-card-description:focus-within  {
  opacity: 1;
}

.product-card-description .product-card-title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.product-card-description .product-card-text {
  margin: 0;
  margin-bottom: 25px;
  max-height: 380px;
}

/* products stylings end*/


/* pagination stylings start  */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination .pagination-item:not(:first-child) {
  margin-left: 12px;
}

.pagination .pagination-item-link {
  display: inline-block;
  padding: 16px 20px;

  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;

  border: 0;
  border-radius: 3px;
}


.pagination-item:last-child .pagination-item-link {
  box-sizing: border-box;
  width: 258px;
  text-align: center;
}

.pagination .pagination-item-link:not(.pagination-current-page):hover, 
.pagination .pagination-item-link:not(.pagination-current-page):focus {
  background-color: #dfdfdf;
}


.pagination .pagination-item-link:not(.pagination-current-page):active {
  background-color: #d5d5d5;
  box-shadow: inset 0 2px 2px #bfbfbf;
  color: rgba(0, 0, 0, 0.302);

}
.pagination .pagination-current-page {
  background-color: #ffffff;
  box-shadow: 
    inset 3px 3px 0 #dbdbdb,
    inset -3px -3px 0 #dbdbdb
}

/* pagination stylings end */


/* catalog page styles end*/




/* buttons styles start */

.button {
  display: inline-block;
  box-sizing: border-box;

  min-height: 50px;

  border: 0;
  border-radius: 3px;

  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

button:hover {
  cursor: pointer;
}

.feathures-button {
  width: 160px;
  padding: 16px 40px;
}

.slide-button {
  width: 240px;

  padding: 15px 10px;
}

.contacts-button {
  width: 220px;
  margin-top: 20px;
  padding: 15px 44px;
}

.modal-form-button {
  width: 260px;
  padding: 15px 85px;

  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.product-card-button {
  width: 200px;
  padding: 15px 60px;
}

.filters-form-button {
  width: 100%;
  margin-top: 51px;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  background-color: #eeeeee;
}

.filters-form-button:hover,
.filters-form-button:hover {
  background-color: #dfdfdf;
}

.filters-form-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 2px 2px #bfbfbf;
  color: rgba(0, 0, 0, 0.302);
}

.red {
  background-color: #fb565a;
}

.red:hover, 
.red:focus  {
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.302);
  box-shadow: inset 0 2px 2px #c13135;
}


.green {
  background-color: #00ca74;
}

.green:hover, 
.green:focus  {
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.302);
  box-shadow: inset 0 2px 2px #009958;
}

.yellow {
  background-color: #efc84a;
}

.yellow:hover, 
.yellow:focus  {
  background-color: #eab534;
}

.yellow:active {
  background-color: #eab534;
  color: rgba(255, 255, 255, 0.302);
  box-shadow: inset 0 2px 2px #ce961f;
}
/* buttons styles end */

